/*all pages*/
body {
	background-color: #000;
	}
	
	
h1 {
	display: none;
	}
		
h3 {
	color: #000;
	}
	
#navigation {
	margin: 105px 0 25px 0;
	word-spacing: 40px;
	}
	
	
html>body #navigation {
	margin: 0px 0 0px 0;
	word-spacing: 35px;
	width:675px;
	padding: 93px 0 0 0;
	}
	
#title {
	text-align:center;
	margin: 0 auto;
	font: 1.2em courier, courier new, sans seriff;
	color: #000;
	}

#nav li {
	display: inline;
	}

	#navigation a { 
		color: #FFF;
		font: 1.3em courier, courier new, sans seriff;
		}
		
	#navigation a:link {
		color: #FFF;
		text-decoration: none;
		}
		
	#navigation a:visited {
		color: silver;
		text-decoration: none;
		}
		
	#navigation a:hover {
		color: red;
		text-decoration: none;
		}
	
	#navigation a:active {
		color: #FFF;
		text-decoration: none;
		}
		
#container {
	margin: 5px auto;
	width: 760px;
	height: 550px;
	background: url(images/bg_4.jpg);
	}
	
html>body #container {
	margin: 5px auto;
	width: 760px;
	height: 550px;
	background: url(images/bg_4.jpg);
	}


	
#credit {
	text-align: center;
	width: 150px;
	margin: 5px auto;
	font: 0.7em/0.8em helvetica, sans seriff;
	color: #FFF;
	}
	
	#credit a { 
		color: red;
		font: 1.1em/1em helvetica, sans seriff;
		}
		
	#credit a:link {
		color: red;
		text-decoration: none;
		}
		
	#credit a:visited {
		color: red;
		text-decoration: none;
		}
		
	#credit a:hover {
		color: #FFF;
		text-decoration: none;
		}
	
	#credit a:active {
		color: silver;
		text-decoration: none;
		}
		

/**home**/

#page1 {
	width: 630px;
	margin:0 auto;
	}
	
#content p {
	font: 0.8em/1.2em helvetica, sans seriff;
	}

#content {
	padding: 3px;
	width: 310px;
	height: 240px;
	float:right;
 	margin: 20px 0 0 0;
 	overflow: auto;
	}
	
#slideshow2 {
	float: left;
	margin: 50px 0 0 0;
	}

/**tour**/

#tourdates {
		text-align: left;
		font: 0.7em helvetica, sans seriff;
		}
	
#tourdates table {
	margin: 2px auto;
	}

#tourdates table th {
	border-bottom: 1px solid #000;
	font: 1.1em/1.2em helvetica, sans seriff;
	}
	
#tourdates table td {
	border-bottom: 1px dashed silver;
	font: 1em/1.2em helvetica, sans seriff;
	padding: 6px;
	}
	
	#tourdates a { 
		color: red;
		font: 1em/1.2em helvetica, sans seriff;
		}
		
	#tourdates a:link {
		color: red;
		text-decoration: none;
		}
		
	#tourdates a:visited {
		color: red;
		text-decoration: none;
		}
		
	#tourdates a:hover {
		color: black;
		text-decoration: none;
		}
	
	#tourdates a:active {
		color: silver;
		text-decoration: none;
		}

#tourdates {
	margin: 10px auto;
	width: 445px;
	height:275px;
	padding: 1px;
	overflow: auto;
	}
	

/**images**/

#slideshow {
	text-align:center;
	margin: 0 auto;
	}

	#images {
		width: 320px;
		height: 305px;
		margin: 0 auto;
		}
		
	#images img {
	    border: 5px solid black;
		width: 322px;
		height: 307px;
		}
/**video**/
#video {
	margin: 0 0 0 95px;
	}
		



		
		


/**links**/

#page5 {
	width: 630px;
	margin:0 auto;
	}

#links {
	width:100px;
	margin: 0 auto;
	font: 1.3em courier, courier new, sans seriff;
	color: #000;
	}
		
#links1 {
		float: left;
		text-align:left;
		height: 250px;
		margin: 15px 0px 0 20px;
		}
		
#links3 {
	float: right;
	text-align:left;
	height: 250px;
	margin: 15px 70px 0 0px;
	}

html>body #links3 {
	float: right;
	text-align:left;
	height: 250px;
	margin: 15px 130px 0 0px;
	}
		
#links2 li {
		list-style: square;
		}
		
#links4 li {
		list-style: square;
		}

	#links2 a { 
		color: red;
		font: 0.9em/1.2em helvetica, sans seriff;
		}
		
	#links2 a:link {
		color: red;
		text-decoration: none;
		}
		
	#links2 a:visited {
		color: red;
		text-decoration: none;
		}
		
	#links2 a:hover {
		color: black;
		text-decoration: none;
		}
	
	#links2 a:active {
		color: silver;
		text-decoration: none;
		}
		
	#links4 a { 
		color: red;
		font: 0.9em/1.2em helvetica, sans seriff;
		}
		
	#links4 a:link {
		color: red;
		text-decoration: none;
		}
		
	#links4 a:visited {
		color: red;
		text-decoration: none;
		}
		
	#links4 a:hover {
		color: black;
		text-decoration: none;
		}
	
	#links4 a:active {
		color: silver;
		text-decoration: none;
		}

/**guestbook**/
#gbook {
	margin: 0 auto;
	width: 650px;
}
#errors {
	width: 295px;
	float: right;
	}

#sign {
	margin: 0 auto;
	width: 350px;
	float: left;
	}
	
#entries {
	padding: 5px;
	margin: 0 auto;
	width: 420px;
	height: 300px;
	overflow: auto;
	}
#entries p {
	font: 0.8em/1.2em helvetica, sans seriff;
	}
	
.headings {
	color: red;
	font: 1em/1.2em courier, courier new, sans seriff;
	}
	
	#entries a { 
		color: red;
		font: 0.9em/1.2em courier, courier new, sans seriff;
		}
		
	#entries a:link {
		color: red;
		text-decoration: none;
		}
		
	#entries a:visited {
		color: red;
		text-decoration: none;
		}
		
	#entries a:hover {
		color: black;
		text-decoration: none;
		}
	
	#entries a:active {
		color: silver;
		text-decoration: none;
		}
.small {
	color: red;
	font: 0.7em courier, helvetica, sans seriff;
	}
	
#errors {
	margin: 0;
	padding:0;
	color: red;
	font: 0.7em courier, helvetica, sans seriff;
	}
	
		

